@import "tailwindcss";

@theme {
    --color-netflix-red: #E50914;
    --color-netflix-red-dark: #B81D24;
    --color-netflix-black: #141414;
    --color-netflix-gray-dark: #222222;
    --color-netflix-gray: #808080;
    --color-netflix-gray-light: #E6E6E6;
    --color-netflix-white: #FFFFFF;
    --color-primary: '#E50914';
    --color-background: '#141414';
    --text-DEFAULT: '#E6E6E6';
    --text-primary: '#FFFFFF';
    --text-secondary: '#808080';
    --text-accent: '#E50914';
    --font-sans: fira-sans;
    --shadow-card-hover:0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
    --shadow-modal: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
}

@layer base {
    body {
      @apply bg-background text-text font-sans antialiased;
    }
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    ::-webkit-scrollbar-track {
      @apply bg-netflix-gray-dark;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-netflix-gray rounded;
    }
    ::-webkit-scrollbar-thumb:hover {
      @apply bg-netflix-red;
    }
  }

@layer utilities {
  .text-shadow-sm { 
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  }
  .text-shadow-md { 
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .text-shadow-lg { 
    text-shadow: 0 4px 8px rgba(0,0,0,0.6);
  }
  .text-shadow { 
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  }
  .text-shadow-none {
    text-shadow: none;
  }

  /* For hiding scrollbars */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
